.updatePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  @media screen and (max-width: 700px) {
    font-size: 3vw;
    .formText {
      font-size: 2.5vw;
    }
  }
}

.headerLine,
.itemLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}
.headerLine {
  flex-direction: column;
  text-align: center;
}
.itemLine {
  flex-direction: row;
}

.toggleEdit {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  :hover {
    color: green;
  }
}

.updateDiv {
  display: none;
}
