$whole-line: 580px;
$half-line: 290xpx;

.inventoryPage {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 12vw;
  @media screen and (max-width: 700px) {
    font-size: 4vw;
    .formText {
      font-size: 2.5vw;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 1rem 2rem 1rem;
}

.formGroup1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 70%;
  min-width: $half-line;
  max-width: $whole-line;
}

.textInput {
  width: 100%;
}
.formGroupWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 70%;
  min-width: $half-line;
  max-width: $whole-line;
}
.formGroup2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0.5rem 0;
  min-width: 0px;
  max-width: $half-line;
}

.formGroup4 {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0.5rem 0;
  max-width: $whole-line;
  @media screen and (max-width: 800px) {
    font-size: 3vw;
  }
}

.imagesArray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: $whole-line;
}
.deleteMe {
}
