.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
  overflow: hidden;
}

.appLogo {
  height: 8vmin;
  pointer-events: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
